// Styles for the Community/Blog page have been moved to scss/pc/about/about.scss as per the latest update.
// This file is currently unused to prevent style conflicts with the new design.
// Refer to #community-list-page block in about.scss.

/*
#pc-wrap {
	#community-list-page {
        ... (previous content)
    }
}
*/